<html>
    <head>
      {% if title %}
        <title>{{ title }} - converter</title>
        {% else %}
        <title>converter</title>
        {% endif %}
    </head>
    <body>
        <div>
            Converter:
            {% if title == 'Home' %}
            <a href="{{ url_for('login') }}"><button>Exit</button></a>
            {% elif title == 'Result' %}
            <a href="{{ url_for('home') }}"><button>Back</button></a>
            {% else %}
            <a href="{{ url_for('register') }}"><button>Register</button></a>
            <a href="{{ url_for('login') }}"><button>Login</button></a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>